# MLZoomCamp

Homework - Week 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df['total_rooms'].isna().sum()

0

In [6]:
df['total_bedrooms'].isna().sum()

207

In [7]:
df['ocean_proximity'].nunique()

5

In [8]:
df_near_bay = df[
    df['ocean_proximity'] == 'NEAR BAY'
]

df_near_bay['median_house_value'].mean()

259212.31179039303

In [9]:
df['total_bedrooms'].mean()

537.8705525375618

In [10]:
df['total_bedrooms'].fillna("0")

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: object

In [11]:
df['total_bedrooms'].mean()

537.8705525375618

In [12]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [13]:
df = df [['housing_median_age', 'total_rooms', 'total_bedrooms']]
df

       housing_median_age  total_rooms  total_bedrooms
0                    41.0        880.0           129.0
1                    21.0       7099.0          1106.0
2                    52.0       1467.0           190.0
3                    52.0       1274.0           235.0
4                    52.0       1627.0           280.0
...                   ...          ...             ...
20635                25.0       1665.0           374.0
20636                18.0        697.0           150.0
20637                17.0       2254.0           485.0
20638                18.0       1860.0           409.0
20639                16.0       2785.0           616.0

[20640 rows x 3 columns]

In [14]:
x = df
x

       housing_median_age  total_rooms  total_bedrooms
0                    41.0        880.0           129.0
1                    21.0       7099.0          1106.0
2                    52.0       1467.0           190.0
3                    52.0       1274.0           235.0
4                    52.0       1627.0           280.0
...                   ...          ...             ...
20635                25.0       1665.0           374.0
20636                18.0        697.0           150.0
20637                17.0       2254.0           485.0
20638                18.0       1860.0           409.0
20639                16.0       2785.0           616.0

[20640 rows x 3 columns]

In [15]:
transposed_x = x.transpose()
print(transposed_x)

                    0       1       2       3       4      5       6      \
housing_median_age   41.0    21.0    52.0    52.0    52.0   52.0    52.0
total_rooms         880.0  7099.0  1467.0  1274.0  1627.0  919.0  2535.0
total_bedrooms      129.0  1106.0   190.0   235.0   280.0  213.0   489.0

                     7       8       9      ...   20630   20631   20632  \
housing_median_age    52.0    42.0    52.0  ...    11.0    15.0    15.0
total_rooms         3104.0  2555.0  3549.0  ...  2640.0  2655.0  2319.0
total_bedrooms       687.0   665.0   707.0  ...   505.0   493.0   416.0

                     20633   20634   20635  20636   20637   20638   20639
housing_median_age    27.0    28.0    25.0   18.0    17.0    18.0    16.0
total_rooms         2080.0  2332.0  1665.0  697.0  2254.0  1860.0  2785.0
total_bedrooms       412.0   395.0   374.0  150.0   485.0   409.0   616.0

[3 rows x 20640 columns]

In [29]:
xtx = transposed_x.dot(x)
print(xtx)

                    housing_median_age   total_rooms  total_bedrooms
housing_median_age        2.019848e+07  1.353329e+09             NaN
total_rooms               1.353329e+09  2.416214e+11             NaN
total_bedrooms                     NaN           NaN             NaN

In [30]:
xtx_inv = np.linalg.inv(xtx)
print(xtx_inv)

[[nan nan nan]
 [nan nan nan]
 [nan nan nan]]

In [36]:
y = np.array([950, 1300, 800, 1000, 1300])

In [41]:
xtx_inv_xt = xtx_inv.dot(transposed_x)

In [43]:
w = y.dot(xtx_inv_xt)

ValueError: shapes (5,) and (3,20640) not aligned: 5 (dim 0) != 3 (dim 0)